@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "ProximaExtraBold";
  src: url("/fonts/Proxima_Nova_Condensed_Extrabold.otf");
}

@font-face {
  font-family: "ProximaRegular";
  src: url("/fonts/Proxima_Nova_Condensed_Regular.otf");
}
